<!doctype html>

<html>

<head>

    <link rel="stylesheet" type="text/css" href="/media/static/style/bases.css">
    <link rel="stylesheet" type="text/css" href="/media/static/style/navs.css">
    <link rel="stylesheet" type="text/css" href="/media/static/style/headers.css">
    <link rel="stylesheet" type="text/css" href="/media/static/style/offerss.css">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>{% block title %}TotoMoto{% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img alt="toTOmoto" src="/media/static/img/logo.png">
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="/create">Utwórz ofertę</a></li>
            <li><a href="/search">Wyszukaj</a></li>
            <li><a href="/user">Twoje oferty</a></li>
            <li><a href="/user_info">Profil</a></li>

            {% if user.is_authenticated %}
            <li>
                <a href="/logout"><button class="red-btn">Wyloguj się</button></a>
            </li>
            {% else %}
            <li>
                <a href="/login"><button class="red-btn">Zaloguj się</button></a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

    <script src="/media/static/js/offer-header.js"></script>
    <script src="/media/static/js/navbars.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>