{% extends 'main/base.html' %}

{% block title %}Edit{% endblock %}



{% block content %}
<form method="post" action="#">
    {% csrf_token %}

    <p>Tytuł <Input value="{{offer.title}}" name="title"></p>

    <p>Opis <Input value="{{offer.dsc}}" name="dsc"></p>

{% for img in images %}
    <p>{{img.image.url}}</p>
{% endfor %}



<div>
    <button type="submit" name="del" value="del" class="btn btn-danger">Usuń ofertę</button>
    <button type="submit" name="edit" value="edit" class="btn btn-success">Zapisz zmiany</button>
</div>

</form>

{% endblock %}