{% extends 'main/base.html' %}

{% block title %}{{offer.title}}{% endblock %}


{% block content %}

<h4>{{offer.title}}</h4>

{% if offer.user == user %}
    <a href="/uoffer/{{offer.id}}">Edit</a>
{% endif %}

<div>
{% for img in images %}
    <img src="{{img.image.url}}" width="500" height="500">
{% endfor %}



<h4>
    {{offer.model}}

    {% if offer.accident == True %}
        Bezwypadkowy
    {% elif offer.accdient == None %}
        Wypadkowość nieznana
    {% else %}
        Powypadkowy
    {% endif %}

</h4>

    <h4>Created at: {{offer.created_at}}</h4>

<h7>
    Zobacz pozostałe oferty użytkownika
    <a href="/user/{{offer.user}}">{{offer.user}}</a>

</h7>
</div>


{% endblock %}