{% extends 'main/base.html' %}

{% block title %} Wyszukiwarka {% endblock %}

{% block content %}


<form method="GET">


kategoria {{form.category}}
marka {{form.marka}}
model {{form.model}}
typ {{form.type}}
stan {{form.stan}}
rok produkcji od {{form.prod_year_min}}
do {{form.prod_year_max}}
przebieg od {{form.mileage_min}}
do {{form.mileage_max}}
pojemnosc od {{form.cap_min}}
do {{form.cap_max}}
rodzaj paliwa {{form.fuel}}
cena od {{form.price_min}}
do {{form.price_max}}

    <input type="Submit" name="search" value="search">

</form>

{% for item in list %}
    <div>
        <a href="/{{item.id}}"> {{item.title}} </a> {{item.price}}
    </div>

{% endfor %}


{% endblock %}

