{% extends 'main/base.html' %}

{% block title %}Twój profil{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="#">
    {% csrf_token %}

    <div>

        <p>Nazwa użytkownika <Input value="{{user.username}}" name="username"></p>
        <p>Email <Input value="{{user.email}}" name="email"></p>
        <p>Imię <Input value="{{user.first_name}}" name="first_name"></p>
        <p>Nazwisko <Input value="{{user.last_name}}" name="last_name"></p>

        <button type="submit" name="edit" value="edit" class="btn btn-success">Zapisz zmiany</button>
    </div>

</form>






{% endblock %}